@import "../../styles/layout_mixin.scss";

.layout-container {
  width: calc(100% - 40px);
  height: 90dvh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--secondary);

  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;

  &__wrapper {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
  }
}
