$screen-sm-min: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

.projectmain {
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: rgb(20, 20, 20);
  background-color: rgb(235, 231, 226);
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include sm {
    justify-content: center;

    .skillsDiv {
      font-size: 11px;
    }
  }
}

.dark {
  .projectmain {
    background-color: rgb(2, 4, 15);

    .skillsDiv {
      h2 {
        background-color: #1d3147;
        color: white;
      }
    }
  }
}

.projectsWrap {
  width: 100%;
  max-width: 800px;
  height: auto;
  min-height: 200px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  overflow-y: scroll;
  margin: 30px;
  @include sm {
    max-height: 500px;
  }
}

.exitIcon {
  position: absolute;
  top: 0px;
  right: 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
  z-index: 101;
  cursor: pointer;
}

.gridEL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;

  @include sm {
    height: auto;
  }
}

.card {
  background-color: rgb(6, 6, 6);

  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0px;
  min-height: 150px;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.3;
    }
  }

  h4 {
    z-index: 101;
    text-align: center;
  }

  P {
    font-size: 12px;
    text-align: center;
    max-width: 90%;
    color: rgb(215, 209, 209);
    z-index: 101;
  }
  @include sm {
    font-size: 13px;
    p {
      font-size: 10px;
    }
  }
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 90%;

  p {
    font-size: 11px;
    background-color: antiquewhite;
    border-radius: 20px;
    color: #1d3147;
    padding: 1px 5px;
    z-index: 101;
    margin-bottom: 5px;

    @include sm {
      font-size: 9px;
    }
  }
}
.projectIcons {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-size: 20px;
  z-index: 101;

  @include sm {
    font-size: 15px;
    gap: 10px;
  }
}
