$screen-sm-min: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

.projectmain {
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: rgb(20, 20, 20);
  background-color: rgb(235, 231, 226);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  .projectmain {
    background-color: rgb(2, 4, 15);
  }
}
.projectsWrap {
  width: 100%;
  max-width: 800px;
  height: 90vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  overflow-y: scroll;
  @include sm {
    height: 70vh;
  }
}

.exitIcon {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
  z-index: 101;
}

.gridEL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;

  @include sm {
    height: 200px;
  }
}

.card {
  background-color: rgb(6, 6, 6);

  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.3;
    }
  }

  h4 {
    z-index: 101;
  }
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;

  p {
    font-size: 11px;
    background-color: antiquewhite;
    border-radius: 20px;
    color: #1d3147;
    padding: 1px 5px;
    z-index: 101;

    @include sm {
      font-size: 9px;
    }
  }
}
.projectIcons {
  display: flex;
  gap: 10px;
  z-index: 101;
}
