.skillsDiv {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 190%;
  height: 100%;

  h2 {
    padding: 0.4rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    height: fit-content;
    background-color: aliceblue;
    color: black;
    transition: all linear 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
