$primaryColorlight: rgb(12, 11, 21);
$baseColorlight: #ffffff;

$primaryColordark: #ffffff;
$baseColorDark: rgb(12, 11, 21);

$steps: 20;

$screen-sm-min: 576px;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Unbounded", cursive;
  max-height: 100vh;
  color: white;
}

body {
  transition: all 0.5s;
}
.mainApp {
  height: 80vh;
  transition: all 0.5s;
}

.textwrap {
  text-align: center;
  max-width: 800px;
  z-index: 10;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text {
  padding: 5px;
  color: rgb(219, 217, 217);
  font-weight: 100;
  font-family: "Rajdhani", sans-serif;
  @include sm {
    font-size: 13px;
  }
}
.text-dec {
  background-color: #1d3147;
  color: rgb(219, 217, 217);
  font-family: "Rajdhani", sans-serif;

  font-weight: 100;
  padding: 3px 6px;
  margin: 4px;
  line-height: 32px;
  border-radius: 3px;
}

.linksdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;

  p {
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #385a7a;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}

.background_text {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: 7px;
  z-index: 1;
  color: rgb(17, 15, 29);

  overflow: hidden;

  font-family: "Playfair Display", serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  //   @include sm {
  //     font-size: 100px;
  //   }
}

.glitch {
  position: relative;
  margin: 0 auto;
  font-size: 40px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);

  @include sm {
    font-size: 20px;
  }

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
  }

  &::before {
    left: 7px;
    text-shadow: 1px 5 green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.light {
  .mainApp {
    width: 100%;
    background-color: rgb(232, 232, 237);
    background-color: $baseColorlight;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .glitch {
    color: #1d3147;

    &::before,
    &::after {
      background-color: $baseColorlight;
      color: $primaryColorlight;
    }
  }

  .text {
    color: #1d3147;
  }
  .text-dec {
    background-color: #e1e3e5;
    color: #1d3147;
  }

  .linksdiv {
    p {
      color: #1d3147;
    }
  }

  .icon {
    background-color: #357bc1;
    color: red !important;
  }

  .background_text {
    color: #f7f8fa;
  }

  .sc-eDvSVe {
    font-size: 12px;
  }
}

.dark {
  .mainApp {
    width: 100%;
    background-color: $baseColorDark;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .glitch {
    &::before,
    &::after {
      background-color: $baseColorDark;
      color: $primaryColordark;
    }
  }

  .sc-eDvSVe {
    color: #e1e3e5;
    font-size: 12px;
  }
}

// Projects
